.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home {
  display: flex;
  flex-direction: column;
  background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2xvdWR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=800&q=60');
  height: 100vh;
  background-size: cover;
  width: 100vw;
}

.heading {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-size: 45px;
  font-family: 'Roboto', sans-serif;
}

.home-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background-color: #ffffff;
  padding: 50px;
  border-radius: 20px;
  box-sizing: border-box;
  text-align: center;
  margin-left: 300px;
  margin-right: 300px;
  font-family: 'Roboto', sans-serif;
}

.input-container {
  text-align: center;
}

.list {
  margin-top: 0px;
  padding-left: 20px;
  list-style-type: none;
}

.your-files {
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
}

.list-item {
  margin-left: 5px;
  margin-bottom: 15px;
}

.sign-out-container {
  text-align: center;
}

.sign-out-button {
  border-style: solid;
  width: 120px;
  padding: 5px;
  background-color:blue;
  color: white;
  border-radius: 10px;
  border-width: 0px;
}